<div class ="container">
  <div class ="row">
    <h5 class="my-5">
      <span class ="p-2" style="background-color: #eee;">
        会員一覧
      </span>
    </h5>
  </div>
  <div class ="row">
    <div class = "col">
      <table class ="table">
        <thead>
          <tr class ="p-2" style="background-color: #eee;">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to customer.full_name, admin_customer_path(customer) %>
              </td>
              <td><%= customer.email %></td>
              <% if customer.is_active %>
                <td class = "text-success">有効</td>
              <% else %>
                <td class = "text-secondary">退会</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>